<ion-view view-title="About">
  <ion-content>
    <div class="list card item-text-wrap">
      <div class="item item-icon-center">
        Version: {{vNum}}, {{vName}}
      </div>
      <div class="item">
        Made with <i class="icon ion-ios-heart"></i> by UMass Transit's student developers in Amherst, MA
      </div>
      <a href="http://github.com/umts/pvta-multiplatform" class="item item-icon-left">
        Contribute to pvta-multiplatform<i class="icon ion-social-github"></i>
      </a>
      <a class="item" href="mailto:transit-it@admin.umass.edu" target="_blank">
        Find a bug?  Let us know!
      </a>
    </div>
  </ion-content>
</ion-view>