<ion-view view-title="Map">
    <ion-content>
      <!--<style>
        .info-bubble {
          background: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgb(112,112,112)),color-stop(0.51, rgb(94,94,94)),color-stop(0.52, rgb(57,57,57)));
          background: -moz-linear-gradient(center top,rgb(112,112,112) 0%,rgb(94,94,94) 51%,rgb(57,57,57) 52%);
          background: linear-gradient(45deg, #387ef5, white);
        }
      </style>-->
        <div id="map" data-tap-disabled="true"></div>
    </ion-content>
</ion-view>
