<ion-view view-title="My Buses">
  <ion-content>
    <div class="item item-divider item-positive" style="text-align:center">Your Routes</div>
    <ion-list class="list" show-delete="false" can-swipe="true">
      <ion-item ng-if="!routes.length" href="#/app/routes">
        You have no favorite routes! Tap here to go find some.
      </ion-item>
      <ion-item class="item" ng-repeat="route in routes" href="#/app/routes/{{route.RouteId}}">  
        <ion-option-button class="button-assertive icon ion-trash-a" ng-click="removeRoute(route, $index)"></ion-option-button>
          <div class=" item-icon-left">
            <div class="row">
            <div class="col-5">
              <i class="icon ion-android-bus" style="margin-right: 10px"></i>
            </div>
            <div class="col-25 item-text-wrap" style="text-align: center; color: #{{route.Color}}; font-size: 150%; font-weight: bold;">
              {{route.ShortName}}
            </div>
            <div class="col" style="text-align:right;">
              <span class="item-text-wrap">{{route.LongName}}</span>
            </div>
          </div>
        </div>
      </ion-item>
      <div class="item item-divider item-positive" style="text-align:center">Your Stops</div>
      <ion-item ng-if="!stops.length" href="#/app/stops">
        You have no favorite stops! Tap here to go find some.
      </ion-item>
      <ion-item class="item item-text-wrap" ng-repeat="stop in stops" href="#/app/stops/{{stop.StopId}}">
        <ion-option-button class="button-assertive icon ion-trash-a" ng-click="removeStop(stop, $index)"></ion-option-button>
        <div class="item-icon-left">
          <i class="icon ion-ios-location" style="margin-right: 10px"></i>
          {{stop.Name}}
        </div>
      </ion-item>
      <div ng-if="messages.length > 0">
        <div class="item item-divider item-assertive" style="text-align:center">Active Alerts</div>
        <ion-item class="item" ng-repeat="message in messages">    
          <div class="item-icon-left item-text-wrap">
            <i class="icon ion-android-alert" style="margin-right: 10px"></i>
            {{message.Message}}
          </div>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>