<ion-view view-title="Plan Trip">
<ion-nav-buttons side="secondary">
<button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()"></button>
</ion-nav-buttons>
<ion-content>
<div id="directions-map"></div>
<div class="input-div">
        <div style="margin-bottom: 20px">
                <b>Origin</b>
                <input id="origin-input" class="user-input location-typeahead" type="text" placeholder="Enter an origin location">
        </div>
        <div style="margin-bottom: 20px">
                <b>Destination</b>
                <input id="destination-input" class="user-input location-typeahead" type="text" placeholder="Enter a destination location">
        </div>
        <div style="margin-bottom: 80px">
                <label class="item item-input item-select">
                        <div class="input-label">
                                &nbsp;
                        </div>
                        <select id="time-trip-choice">
                                <option selected value="departure">Time of Departure</option>
                                <option value="arrival">Time of Arrival</option>
                        </select> 
                </label>
                <input type="time" id="trip-time" class="user-input" ng-model="currentDate">
                <input type="date" id="trip-date" class="user-input" ng-model="currentDate">
        </div>
        <div>
                <button ng-click="route" id="route-button" class="user-input">Route</button>
                <button ng-click="saveTrip" id="save-button" class="user-input">Save Trip</button>
        </div>
</div>
<div style="margin: 30px" ng-if="steps != null">
        <b>Origin:</b> {{origin}}
        <br>
        <b>Destination:</b> {{destination}}
        <br>
        <b>Departure Time:</b> {{departure_time}}
        <br>
        <b>Arrival Time:</b> {{arrival_time}}
</div>
<ion-list>
<ion-item ng-repeat="step in steps" href={{step_links[$index]}}>
<p>{{step}}</p>
</ion-item>
</ion-list>
</ion-content>
</ion-view>
