<ion-view view-title="Plan Trip">
<ion-content>
<div id="directions-map"></div>
<div class="input-div">
  <div class="centered" style="margin-bottom: 20px">
    <label ng-model="params.name">
      <b>Trip:</b>
      {{params.name}}
    </label>
  </div>
  <div class="centered" style="margin-bottom: 20px">
    <b>Origin</b>
    <input id="origin-input" class="user-input location-typeahead" type="text" placeholder="Enter an origin location" ng-model="params.origin.name" ng-focus="disableTap()" />
  </div>
  <div class="centered" style="margin-bottom: 20px">
    <b>Destination</b>
    <input id="destination-input" class="user-input location-typeahead" type="text" placeholder="Enter a destination location" ng-model="params.destination.name" ng-focus="disableTap()" />
  </div>
  <div> 
    <ion-toggle ng-model="params.time.asap" ng-click="updateASAP()" id="time-asap">ASAP</ion-toggle>
    <label>
      If not ASAP, specify arrival or departure time below.
    </label>
  </div>
  
</div>
  <div class="list" style="margin: 0">
    <div ion-datetime-picker class="item" ng-model="params.time.datetime" id="trip-time" ng-change="notASAP()"><b>{{params.time.datetime | date: "yyyy-MM-dd h:mm:ss a"}}</b></div<>
    </div>
    <div class="item item-divider">
      Time of:
    </div>
    <ion-radio class="item" ng-model="params.time.type" ng-value="'departure'">Departure</ion-radio>
    <ion-radio class="item" ng-model="params.time.type" ng-value="'arrival'" ng-click="notASAP()">Arrival</ion-radio>
  </div>
    
  <div class="input-div centered">
    <button ng-click="route()" id="route-button" class="user-input">Route</button>
    <button ng-click="saveTrip()" id="save-button" class="user-input">Save Trip</button>
    <button ng-click="newTrip()" id="save-button" class="user-input">New Trip</button>
  </div>
</div>
<div id="route">
  <div style="margin: 30px" ng-if="route.origin != null">
    <b>Origin:</b> {{route.origin}}
    <br>
    <b>Destination:</b> {{route.destination}}
    <br>
    <b>Departure Time:</b> {{route.departureTime}}
    <br>
    <b>Arrival Time:</b> {{route.arrivalTime}}
  </div>
  <ion-list>
  <ion-item ng-repeat="step in route.steps" href={{route.stepLinks[$index]}}>
  <p>{{step}}</p>
  </ion-item>
  </ion-list>
</div>
</ion-content>
</ion-view>
