<ion-view view-title="Plan Trip">
<ion-content>
<div id="directions-map"></div>
<div class="input-div">
  <div style="margin-bottom: 20px">
    <label ng-model="params.name">
      <b>Trip:</b>
      {{params.name}}
    </label>
  </div>
  <div style="margin-bottom: 20px">
    <b>Origin</b>
    <input id="origin-input" class="user-input location-typeahead" type="text" placeholder="Enter an origin location" ng-model="params.origin.name" ng-focus="disableTap()" />
  </div>
  <div style="margin-bottom: 20px">
    <b>Destination</b>
    <input id="destination-input" class="user-input location-typeahead" type="text" placeholder="Enter a destination location" ng-model="params.destination.name" ng-focus="disableTap()" />
  </div>
  <div style="margin-bottom: 100px">
    <ion-toggle class="user-input trip-time" ng-model="params.time.asap" id="time-asap">ASAP</ion-toggle>
    <label class="item item-input item-select trip-time" ng-if="!params.time.asap" style="width: 55%">
      <select ng-model="params.time.type">
        <option value="departure">Departure</option>
        <option value="arrival">Arrival</option>
      </select> 
    </label>
  </div>
  <div ng-if="!params.time.asap" style="margin-bottom: 200px">
    <input class="trip-time user-input" type="datetime-local" ng-model="params.time.datetime" id="trip-time" class="user-input">
  </div>
  <div>
    <button ng-click="route()" id="route-button" class="user-input">Route</button>
    <button ng-click="saveTrip()" id="save-button" class="user-input">Save Trip</button>
    <button ng-click="newTrip()" id="save-button" class="user-input">New Trip</button>
  </div>
</div>
<div id="route">
  <div style="margin: 30px" ng-if="route.origin != null">
    <b>Origin:</b> {{route.origin}}
    <br>
    <b>Destination:</b> {{route.destination}}
    <br>
    <b>Departure Time:</b> {{route.departure_time}}
    <br>
    <b>Arrival Time:</b> {{route.arrival_time}}
  </div>
  <ion-list>
  <ion-item ng-repeat="step in route.steps" href={{route.stepLinks[$index]}}>
  <p>{{step}}</p>
  </ion-item>
  </ion-list>
</div>
</ion-content>
</ion-view>
