<ion-view>
  <ion-nav-title>Route {{route.ShortName}}</ion-nav-title>
  <ion-nav-buttons side="secondary">
    <button id="like"  ng-class="{'button button-icon icon ion-ios-heart': liked, 'button button-icon icon ion-ios-heart-outline': !liked}" ng-click="liked= !liked; toggleHeart(liked)"></button>
  </ion-nav-buttons>  
  <ion-content>
    <div class="card">
      <div class="item">
        <h2 class="item-text-wrap" style="text-align: center; font-size: 150%">{{route.LongName}}</h2>
      </div>
      <div class="item item-body">
        <h2 style="text-align:center;">Buses currently on the {{route.ShortName}}:</h2>
        <ion-list>
          <div ng-if="vehicles.length === 0">
            <div style="text-align:center;">
              None
              <i class="icon ion-thumbsdown"></i>
            </div>
            
          </div>
          <div class="list card">
            <ion-item class="item" ng-repeat="vehicle in vehicles" href="#/app/vehicles/{{vehicle.VehicleId}}" style="background-color: #{{route.Color}}">
              <div class="row">
                <div class="col" style="text-align: center; font-weight: bold; font-size: 125%">
                  <span ng-if="vehicle.DisplayStatus==='Late'" style="color: red;">
                    Bus {{vehicle.Name}} - {{vehicle.DisplayStatus}}
                  </span>
                  <span ng-if="vehicle.DisplayStatus==='On Time'" style="color: green;">
                    Bus {{vehicle.Name}} - {{vehicle.DisplayStatus}}
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col item-text-wrap" style="text-align: center;">
                  Last Stop: <b>{{vehicle.LastStop? vehicle.LastStop : "none specified"}}</b>
                </div>
                <div class="col item-text-wrap" style="text-align: center;">
                  Headed <b>{{vehicle.Direction? vehicle.Direction : "in an ungiven direction"}}</b> 
                  toward <b>{{vehicle.Destination ? vehicle.Destination : "an unreported destination"}}</b>
                </div >
                <div class="col item-text-wrap" ng-if="vehicle.DisplayStatus === 'Late'" style="text-align: center; color: red">
                  Late by {{vehicle.Deviation}} minutes
                </div>
              </div>   
            </ion-item>
          </div>
       </ion-list>
       <div class="list card">
        <ion-list>
        <ion-item class="item" ng-click="toggleGroup(stops)" ng-class="{active: isGroupShown(stops)}">
          <div style="text-align:center;">
            <i class="icon" ng-class="isGroupShown(stops) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'" style="margin-right: 10px;"></i>
            <span>Stops on the {{route.ShortName}}</span>
          </div>
        </ion-item>
        <ion-item class="item-accordion"
                        ng-repeat="item in stops | orderBy: '+Name'"
                        ng-show="isGroupShown(stops)" href="#/app/stops/{{item.StopId}}">
        <i class="icon ion-ios-location" style="margin-right: 10px"></i>
        {{item.Name}}
        </ion-item>
          
      </ion-list>
       </div>
        
      </div>
    </div>
  </ion-content>
</ion-view>
