<ion-view view-title="Search">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()"></button>
  </ion-nav-buttons>  
  <ion-content direction="y" scrollbar-y="false">
    <ion-refresher pulling-icon="ion-arrow-down-b" on-refresh="refreshItems()"></ion-refresher>
    <ion-list>
      <ion-item collection-repeat="item in display_items" item-height= "50" href="#app/{{item.type}}s/{{item.id}}">
        <p>{{item.name}}</p>
      </ion-item>
    </ion-list>
    <div ng-if="!display_items.length" class="no-results">
      <center>Enter a search query to find stops, routes, and buses.</center>
      <center ng-if="filterText.length > 0">No results found.</center>
    </div>
  </ion-content>
</ion-view>
