<ion-view view-title="Settings">
  <ion-content>
    <ion-list>
      <ion-item href="#/app/about">
        About
      </ion-item>
        <li class="item item-toggle">
          Data Saver
          <label class="toggle">
           <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle">
          Use location to find nearest stops
          <label class="toggle">
           <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
    </ion-list>
  </ion-content>
</ion-view>