<ion-view view-title="{{stop.Name}}">
  <ion-nav-buttons side="secondary">
    <button id="like"  ng-class="{'button button-icon icon ion-ios-heart': liked, 'button button-icon icon ion-ios-heart-outline': !liked}" ng-click="liked= !liked; toggleHeart(liked)"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card">
      <div class="item">
        <h3>Stop {{stop.StopId}}: {{stop.Name}}</h3>
      </div>
      <div class="item item-body">
        <h3>Next Departures at this stop</h3>
        <ion-list>
          <ion-item ng-repeat="route in departures" href="#/app/routes/{{route.route}}">
            <button class="button button-block" style="background-color: #{{routeList[route.route].Color}}; color: #{{routeList[route.route].TextColor}}">
              <span style="float: left;"></span>
              <span style="float: left;">{{routeList[route.route].ShortName}} {{route.trip.InternetServiceDesc}}</span>
              <span style="float: center;">Scheduled {{route.departures.s}}</span>
              <span style="float: right;">Estimated {{route.departures.e}}</span>
            </button>
          </ion-item>
         </ion-list>
      </div>
      <div ng-if="!departures.length">
        <center>No remaining departures found.</center>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="setCoordinates(stop.Latitude,
                  stop.Longitude)">
          <i class="icon ion-ios-location"></i>
          Find On Map
        </a>
        <a class="tab-item" href="#app/mybuses">
          <i class="icon ion-android-home"></i>
          My Buses
        </a>
        <a class="tab-item">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
