<meta http-equiv="refresh" content="30" />
<ion-view view-title="Stop Departures">
  <ion-content>
    <div class="list card">
      <div class="item">
        <h3>Stop {{stop.StopId}}: {{stop.Name}}</h3>
        <button class="button button-positive" ng-click="setCoordinates(stop.Latitude,
                  stop.Longitude)" ng-href="/app/map">View this stop on a map</button>
      </div>
   <div class="item item-body">
     <h3>Next Departures at this stop</h3>
     <ion-list>
      <ion-item ng-repeat="route in z">
        <h2>{{route.trip.InternetServiceDesc}}</h2>
        <h2>Scheduled {{route.departures.s}}</h2>
        <h2>Estimated {{route.departures.e}}</h2>
      </ion-item>
     </ion-list>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
