<ion-view>
  <ion-nav-title>Departures: {{stop.Name}}</ion-nav-title>
  <ion-nav-buttons side="secondary">
    <button id="like"  ng-class="{'button button-icon icon ion-ios-heart': liked, 'button button-icon icon ion-ios-heart-outline': !liked}" ng-click="liked= !liked; toggleHeart(liked)"></button>
  </ion-nav-buttons>
  <ion-content direction="y" scrollbar-y="false">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>
      <div class="list card">
        <ion-list>
          <ion-item class="item" ng-repeat="route in departures" href="#/app/routes/{{route.route}}">

            <div class="row">
              <div class="col-10" style="font-weight: bold; text-align: left; font-size: 175%; color: #{{routeList[route.route].Color}};">
                  {{routeList[route.route].ShortName}}
                </div>
                <div class="col item-text-wrap" style="font-weight: bold; text-align: center;">
                  {{route.trip.InternetServiceDesc}}
                </div>
            </div>

            <div class="row">
                <div class="col-50 item-text-wrap" style="font-weight: light; text-align: center;">
                  Scheduled {{route.departures.s}}
                </div>

                <div class="col-50 item-text-wrap" style="font-weight: light; text-align: center;">
                  Estimated {{route.departures.e}}
                </div>


              </div>


          </ion-item>
         </ion-list>
      </div>
      <div ng-if="!departures.length">
        <center>No remaining departures found.</center>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="setCoordinates(stop.Latitude,
                  stop.Longitude)">
          <i class="icon ion-ios-location"></i>
          Find On Map
        </a>
        <a class="tab-item" href="#app/mybuses">
          <i class="icon ion-android-home"></i>
          My Buses
        </a>

      </div>

  </ion-content>
</ion-view>
