<ion-view>
  <ion-nav-title>Departures: {{stop.Name}}</ion-nav-title>
  <ion-nav-buttons side="secondary">
    <button id="like"  ng-class="{'button button-icon icon ion-ios-heart': liked, 'button button-icon icon ion-ios-heart-outline': !liked}" ng-click="liked= !liked; toggleHeart(liked)"></button>
  </ion-nav-buttons>
  <ion-content direction="y" scrollbar-y="false">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>
    <!-- For every route, group it and allow it to be toggled open or closed -->  
    <ion-list ng-repeat="direction in directions">  
      <ion-item class="item-text-wrap" ng-click="toggleGroup({{direction.RouteId}})" ng-class="{active: isGroupShown({{direction.RouteId}})}">
        <div class="row">
          <span class="col" style="font-weight: bold;font-size: 175%; color: #{{routeList[direction.RouteId].Color}};">
            {{routeList[direction.RouteId].ShortName}}
          </span>
          <span class="col">View upcoming departures for the {{routeList[direction.RouteId].ShortName}}</span>
          <span class="col">
            <i class="icon" ng-class="isGroupShown({{direction.RouteId}}) ? 'ion-ios-arrow-down' : 'ion-ios-arrow-up'" style="margin-right: 10px;"></i>
          </span>
        </div>
      </ion-item>
      <!-- When a route has been expanded, show its departures -->        
      <ion-item class="item-accordion"
                      ng-repeat="departure in direction.departures"
                      ng-show="isGroupShown({{direction.RouteId}})" href="#/app/routes/{{direction.RouteId}}">
          <div class="row">
            <span class="col" style="font-weight:bold;">
              {{departure.Trip.InternetServiceDesc}}
            </span>
            <span class="col">
              Scheduled {{departure.Times.s}}
            </span>
            <span class="col">
              Estimated {{departure.Times.e}}
            </span>
            
            
            
            
            
         </div>
        <!--  <div class="col-25 item-text-wrap" style="font-weight: light; text-align: center;">
            Scheduled {{departure.Times.s}}
          </div>
          <div class="col-25 item-text-wrap" >
            {{departure.Trip.InternetServiceDesc}}
          </div>
          
          <div class="col-25 item-text-wrap" style="font-weight: light; text-align: center;">
            Estimated {{departure.Times.e}}
          </div>
        </div>-->
      </ion-item>
    </ion-list> 
    <div ng-if="!directions.length">
      <ion-item class="item item-assertive" style="text-align:center">{{stop.Name}} has no departures for at least the next 3 hours.</ion-item>
    </div> 
  </ion-content>
  <ion-footer-bar class="bar-positive">
    <a class="button col-offset-50" ng-click="setCoordinates(stop.Latitude, stop.Longitude)">
      Find on map
    <i class="icon ion-ios-location"></i> 
    </a>
  </ion-footer-bar> 
</ion-view>
