<ion-view view-title="Vehicle">
  <ion-content>
    <div class="list card">
      <div class="item">
        <h3>Bus {{vehicle.Name}}</h3>
        <h3>Unit: {{vehicle.BlockFareboxId}}</h3>
        <button class="button button-positive" ng-click="setCoordinates(vehicle.Latitude,
                  vehicle.Longitude)" ng-href="/app/map">Find on map</button>
      </div>
   <div class="item item-body">
     <p>Last Stop: <b>{{vehicle.LastStop? vehicle.LastStop : "none specified"}}</b></p>
        <p>Headed <b>{{vehicle.Direction? vehicle.Direction : "in an ungiven direction"}}</b> toward <b>{{vehicle.Destination ? vehicle.Destination : "an unreported destination"}}</b></p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
