/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../bower_components/ionic/fonts" !default;

// Include all of Ionic
@import 
  "www/bower_components/ionic/scss/ionic",
  "www/bower_components/ionic-filter-bar/scss/ionic.filter.bar.scss";

.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.0s all linear;
}

.list .item.item-accordion.ng-hide {
  line-height: 0px;
  item-height: 10px;
  item-width: 75%;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
