<ion-view view-title="Session">
  <ion-content>
    <div class="list card">
      <div class="item">
        <h3>Bus {{session.Name}}</h3>
        <h3>Unit: {{session.RunId}}</h3>
      </div>
   <div class="item item-body">
        <p>Last Stop: {{session.LastStop}}</p>
        <p>Headed {{session.Direction}} toward {{session.Destination}}</p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
