<ion-view view-title="Stop Departures">
  <ion-content>
    <div class="list card">
      <div class="item">
        <h3>Stop {{s[0].StopId}}</h3>
      </div>
   <div class="item item-body">
     <h3>StopDepartures</h3>
     <ion-list>
      <ion-item ng-repeat="routeDirection in s[0].RouteDirections">
        <p>New route!</p>
        <!--<ion-item ng-repeat="departure in routeDirection.Departures">-->
          <h3>{{routeDirection.Departures[0].departure.Trip.InternalSignDesc}}</h3>
          {{init(routeDirection.Departures[0].SDT, routeDirection.Departures[0].EDT);""}}
          <p>{{routeDirection.Departures[0].Trip.InternetServiceDesc}}</p>
          <!--<p>Scheduled At: {{readableSDT}}</p>-->
          <p>Scheduled: {{sdtString}}</p>
          <p>Estimated: {{edtString}}</p>
          <p>Unit: {{routeDirection.Departures[0].Trip.RunId}}</p>
          
       <!-- </ion-item>-->
      </ion-item>
     </ion-list>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
