<ion-view>
  <ion-nav-title>{{stop ? (stop.Name + ' (' + stop.StopId + ')' ) : 'Loading...'}}</ion-nav-title>
  <ion-nav-buttons side="secondary">
    <button id="like" ng-class="{'button button-icon icon ion-ios-heart': liked, 'button button-icon icon ion-ios-heart-outline': !liked}"
                      ng-click="liked= !liked; toggleHeart(liked)">
    </button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>
    <!-- For every route, group it and allow it to be toggled open or closed -->
    <div class="item item-divider item-positive center" ng-if="stop">
      Tap a route to view more departures
    </div>
    <ion-list ng-repeat="direction in poops">
      <ion-item ng-click="toggleRouteDropdown({{direction}})"
                      ng-class="{active: isRouteDropdownShown({{direction}})}"
                      style="background-color: #{{routeList[direction.RouteId].Color}};">
        <div class="row item-text-wrap white">
          <div class="col route-shortname">
            {{routeList[direction.RouteId].RouteAbbreviation}}
          </div>
          <div class="col-50">
            {{direction.Departures[0].Trip.InternetServiceDesc}}
          </div>
          <div class="col-33 text-right">
            <span>
              {{direction.Departures[0].Times.eExact}}
            </span>
            <p style="color: white">
              ({{direction.Departures[0].Times.eRelativeNoPrefix}})
            </p>
          </div>
        </div>
      </ion-item>
    <!-- When a route has been expanded, show its departures -->
      <ion-item class="item-accordion"
                      ng-repeat="departure in direction.Departures"
                      ng-show="isRouteDropdownShown({{direction}})"
                      href="#/app/routes/{{direction.RouteId}}">
          <div class="item-text-wrap bold center">
            {{departure.Trip.InternetServiceDesc}}
          </div>
          <div class="row item-text-wrap">
            <div class="col center">
              <b>Scheduled</b>
            </div>
            <div class="col center">
              <b>Estimated</b>
            </div>
          </div>
          <div class="row item-text-wrap">
            <div class="col">
              <center class="departure-padding">
                {{departure.Times.sExact}}
              </center>
              <center>
                ({{departure.Times.sRelative}})
              </center>
            </div>
            <div class="col">
              <center class="departure-padding">
                {{departure.Times.eExact}}
              </center>
              <center>
                ({{departure.Times.eRelative}})
              </center>
            </div>
          </div>
      </ion-item>
    </ion-list>
    <ion-list ng-repeat="direction in directions">
      {{direction.Departures[0].Times}}
    </ion-list>
    <div ng-if="!departuresByRoute.length && stop">
      <ion-item class="item item-assertive center">
        {{stop.Name}} has no departures for at least the next 3 hours.
      </ion-item>
    </div>
    <div>
      <p class="disclaimer">
        <b>Disclaimer:</b><br>
        Real-time data is an estimate and may be incorrect or unavailable.<br>
        Please continue to reference official schedules as necessary.
      </p>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-positive">
      <button class="button icon-center ion-ios-location title" ng-click="setCoordinates()" ng-if="stop">
        Find on map
      </button>
  </ion-footer-bar>
</ion-view>
