<ion-view>
  <ion-nav-title>{{stop.Name}} ({{stop.StopId}})</ion-nav-title>
  <ion-nav-buttons side="secondary">
    <button id="like"  ng-class="{'button button-icon icon ion-ios-heart': liked, 'button button-icon icon ion-ios-heart-outline': !liked}" ng-click="liked= !liked; toggleHeart(liked)"></button>
  </ion-nav-buttons>
  <ion-content direction="y" scrollbar-y="false">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>
    <!-- For every route, group it and allow it to be toggled open or closed -->
    <div class="item item-divider item-positive">
      <center>
        Tap a route to view more departures
      </center>
    </div>
    <ion-list ng-repeat="routeDepartures in departuresByRoute">
      <ion-item ng-click="toggleGroup({{routeDepartures.RouteId}})" ng-class="{active: isGroupShown({{routeDepartures.RouteId}})}" style=" background-color: #{{routeList[routeDepartures.RouteId].Color}};">
        <div class="row item-text-wrap" >
          <span class="col" style="font-weight: bold;font-size: 175%; color:white;">
            {{routeList[routeDepartures.RouteId].ShortName}}
          </span>
          <span class="col-50" style="text-align:right; color:white">
            {{routeDepartures.Departures[0].Trip.InternetServiceDesc}}
          </span>
          <span class="col-33" style="color:white;">
            <center class="text-right">
              Est: {{routeDepartures.Departures[0].Times.eExact}}
            </center>
            <center class="text-right">
              ({{routeDepartures.Departures[0].Times.eRelativeNoPrefix}})
            </center>
          </span>
          <span class="col-10" style="color: white;">
            <i class="icon" ng-class="isGroupShown({{routeDepartures.RouteId}}) ? 'ion-ios-arrow-down' : 'ion-ios-arrow-up'" style="margin-right: 10px; float:right;"></i>
          </span>
        </div>
      </ion-item>
      <!-- When a route has been expanded, show its departures -->
      <ion-item class="item-accordion"
                      ng-repeat="departure in routeDepartures.Departures.slice(1)"
                      ng-show="isGroupShown({{routeDepartures.RouteId}})" href="#/app/routes/{{routeDepartures.RouteId}}">
          <div class="item-text-wrap" style="font-weight:bold;">
            <center>
              {{departure.Trip.InternetServiceDesc}}
            </center>
          </div>
          <div class="row item-text-wrap">
            <div class="col">
              <center>
                <b>Scheduled</b>
              </center>
            </div>
            <div class="col">
              <center>
                <b>Estimated</b>
              </center>
            </div>
          </div>
          <div class="row item-text-wrap">
            <div class="col">
              <center class="departure-padding">
                {{departure.Times.sExact}}
              </center>
              <center>
                ({{departure.Times.sRelative}})
              </center>
            </div>
            <div class="col">
              <center class="departure-padding">
                {{departure.Times.eExact}}
              </center>
              <center>
                ({{departure.Times.eRelative}})
              </center>
            </div>
          </div>
      </ion-item>
    </ion-list>
    <div ng-if="!departuresByRoute.length">
      <ion-item class="item item-assertive" style="text-align:center">{{stop.Name}} has no departures for at least the next 3 hours.</ion-item>
    </div>
    <div>
      <p class="disclaimer">Disclaimer: Real-time data is an estimate and may be incorrect or unavailable.<br>
      Please continue to reference official schedules as necessary.</p>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-positive">
      <button class="button icon-center ion-ios-location title" ng-click="setCoordinates()">
        Find on map
      </button>
  </ion-footer-bar>
</ion-view>
