<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Buses</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item-group *ngIf="alerts?.length > 0">
    <ion-item-divider text-wrap item role="heading" id="alerts-heading">
      Alerts and Detours {{routes && routes?.length > 0 ? 'For Your Routes' : ''}}
    </ion-item-divider>
    <div role="list" aria-labelledby="alerts-heading">
      <ion-item text-wrap item-left *ngFor="let alert of alerts">
          <ion-icon text-only name="alert" color="danger" aria-label="alert" style="margin-right: 10px"></ion-icon>
          {{alert?.Message}}
      </ion-item>
    </div>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider text-wrap item role="heading" id="routes-heading">
      Your Routes
    </ion-item-divider>
      <button text-wrap ion-item *ngFor="let route of routes"
      role="list" aria-labelledby="routes-heading"
      (click)="goToRoutePage(route?.RouteId)">
        <ion-row>
          <ion-col width-20 [style.color]="'#' + route.Color" style="font-size: 150%; font-weight: bold;" >
          {{route?.RouteAbbreviation}}
          </ion-col>
          <ion-col style="padding-left: 20px;">
            {{route?.GoogleDescription}}
          </ion-col>
        </ion-row>
      </button>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider role="heading" id="stops-heading">
        Your Stops
      </ion-item-divider>
      <button ion-item item-left *ngFor="let stop of stops"
      role="list" aria-labelledby="stops-heading"
      (click)="goToStopPage(stop.StopId)">
        <ion-icon name="pin" style="margin-right: 10px"></ion-icon>
        {{stop.Description}} ({{stop.StopId}})
      </button>
    </ion-item-group>
</ion-content>
