<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Routes and Stops</ion-title>
  </ion-navbar>
  <ion-segment [(ngModel)]="cDisplay">
    <ion-segment-button value="{{segment.Routes}}">
      Routes
    </ion-segment-button>
    <ion-segment-button value="{{segment.Stops}}">
      Stops
    </ion-segment-button>
  </ion-segment>
  <ion-searchbar
    [(ngModel)]="searchQuery"
    showCancelButton
    (ionInput)="onSearchQueryChanged($event)">
    <!-- (ionCancel)="onCancel($event)"> -->
  </ion-searchbar>
</ion-header>

<ion-content padding>

  <div [ngSwitch]="cDisplay">
    <ion-list text-wrap *ngSwitchCase="segment.Routes">
      <button ion-item *ngFor="let route of routesDisp"
        (click)="redirectRoute(route.RouteId)">
        <ion-icon name="bus" style="margin-right: 10px"></ion-icon>
        <span [style.color]="'#' + route.Color" style="font-size: 125%; font-weight: bold; margin-left: 10px">
          {{route.RouteAbbreviation}}
        </span>
          <p>{{route.GoogleDescription}}</p>
      </button>
    </ion-list>

    <ion-list text-wrap *ngSwitchCase="segment.Stops">
      <button ion-item *ngFor="let stop of stopsDisp | slice:0:40"
        (click)="redirectStop(stop.StopId)">
        <ion-icon name="pin" style="margin-right: 10px"></ion-icon>
        <span>{{stop.Description}} ({{stop.StopId}})</span>
      </button>
    </ion-list>
  </div>
</ion-content>
