<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Routes and Stops</ion-title>
  </ion-navbar>
  <ion-segment [(ngModel)]="cDisplay" (ionChange)="toggleOrdering()">
    <ion-segment-button value="routes">
      Routes
    </ion-segment-button>
    <ion-segment-button value="stops">
      Stops
    </ion-segment-button>
  </ion-segment>
  <ion-searchbar
    [(ngModel)]="searchQuery"
    showCancelButton
    (ionInput)="onSearchQueryChanged($event.target.value)">
    <!-- (ionCancel)="onCancel($event)"> -->
  </ion-searchbar>
  <ion-item>
    <ion-label>Order {{cDisplay == 'routes' ? 'Routes' : 'Stops'}} By:</ion-label>
    <ion-select [(ngModel)]="order" (ionChange)="toggleOrdering()">
      <ion-option value="favorites">Favorites</ion-option>
      <ion-option *ngIf="cDisplay == 'routes'" value="name" aria-label="Name">Name</ion-option>
      <ion-option *ngIf="cDisplay == 'stops'" value="distance" aria-label="Distance">Distance</ion-option>
    </ion-select>
  </ion-item>
</ion-header>
<ion-content padding>
  <div [ngSwitch]="cDisplay">
    <ion-list text-wrap *ngSwitchCase="'routes'">
      <div ion-item *ngFor="let route of routesDisp"
        (click)="goToRoutePage(route.RouteId)">
        <ion-icon name="bus" style="margin-right: 10px"></ion-icon>
        <span [style.color]="'#' + route.Color" style="font-size: 125%; font-weight: bold; margin-left: 10px">
          {{route.RouteAbbreviation}}
        </span>
          <p>{{route.GoogleDescription}}</p>
          <button ion-button icon-only item-right clear (click)="route.Liked = !route.Liked; toggleRouteHeart(route); $event.stopPropagation()">
            <ion-icon name="{{route.Liked ? 'ios-heart' : 'ios-heart-outline'}}"></ion-icon>
          </button>
      </div>
    </ion-list>

    <ion-list text-wrap *ngSwitchCase="'stops'">
      <button ion-item *ngFor="let stop of stopsDisp | paginate: { itemsPerPage: 40, currentPage: p }"
        (click)="goToStopPage(stop.StopId)">
        <ion-icon name="pin" style="margin-right: 10px"></ion-icon>
        <span>{{stop.Description}} ({{stop.StopId}})</span>
        <button ion-button icon-only item-right clear (click)="stop.Liked = !stop.Liked; toggleStopHeart(stop); $event.stopPropagation()">
          <ion-icon name="{{stop.Liked ? 'ios-heart' : 'ios-heart-outline'}}"></ion-icon>
        </button>
      </button>
      <pagination-controls center class="pages" (pageChange)="p = $event"></pagination-controls>
    </ion-list>
  </div>
</ion-content>
