<ion-view view-title="Settings">
  <ion-content>
    <ion-list>
      <ion-item href="#/app/about">
        About
      </ion-item>
      <ion-item class="item" href="#/app/settings/storage">
        Storage
      </ion-item>
      <div class="item item-divider">Autorefresh Timing</div>
        <ion-radio ng-model="autorefresh" ng-value="15000" ng-click="updateRefresh(15000)">15 Seconds</ion-radio>
        <ion-radio ng-model="autorefresh" ng-value="30000" ng-click="updateRefresh(30000)">30 Seconds</ion-radio>
        <ion-radio ng-model="autorefresh" ng-value="45000" ng-click="updateRefresh(45000)">45 Seconds</ion-radio>
        <ion-radio ng-model="autorefresh" ng-value="60000" ng-click="updateRefresh(60000)">60 Seconds</ion-radio>
    </ion-list>
  </ion-content>
</ion-view>
