<ion-view view-title="Contact">
  <ion-content>
    <div class="list">
    <div class="list card item-text-wrap">
      <div class="item item-divider">
        PVTA
      </div>
      <div class="item item-button-right">
        PVTA Customer Service:
        <span class="item-note">413-781-PVTA (7882)</span>
        <a class="button button-positive button-contact-page" href="tel:413-781-7882">
          <i class="icon ion-android-call"></i>
        </a>
      </div>
      <div class="item item-button-right">
        Online Complaints/Concerns Form
        <a class="button button-positive button-contact-page" href="#"
          ng-click="openLink('http://pvta.com/contactComplaints.php')">
                <i class="icon ion-ios-world-outline"></i>
        </a>
      </div>
    </div>
    <div class="list card item-text-wrap">
      <div class="item item-divider">
        Lost and Found / Regional Bus Information
      </div>
      <div class="item item-button-right">
        Springfield Area:
        <span class="item-note">413-788-8630</span>
        <a class="button button-positive button-contact-page" href="tel:413-788-8630">
          <i class="icon ion-android-call"></i>
        </a>
      </div>
      <div class="item item-button-right">
        Holyoke Transportation Center:
        <span class="item-note">413-536-0694</span>
        <a class="button button-positive button-contact-page" href="tel:413-536-0694">
          <i class="icon ion-android-call"></i>
        </a>
      </div>
      <div class="item item-button-right" href="tel:413-586-3548">
        Northampton Area:
        <span class="item-note">413-586-3548</span>
        <a class="button button-positive button-contact-page" href="tel:413-586-3548">
          <i class="icon ion-android-call"></i>
        </a>
      </div>
      <div class="item item-button-right">
        UMass Amherst Area:
        <span class="item-note">413-545-0056</span>
        <a class="button button-positive button-contact-page" href="tel:413-545-0056">
          <i class="icon ion-android-call"></i>
        </a>
      </div>
    </div>
    <div class="list card item-text-wrap">
      <div class="item item-divider">
        Social Media
      </div>
      <div class="item item-button-right">
        PVTA Facebook
        <a class="button button-positive button-contact-page" href="#"
          ng-click="openLink('https://www.facebook.com/Pioneer-Valley-Transit-Authority-169604739716541')">
                <i class="icon ion-social-facebook"></i>
        </a>
      </div>
      <div class="item item-button-right">
        PVTA Twitter
        <a class="button button-positive button-contact-page" href="#"
          ng-click="openLink('https://twitter.com/pvta')">
                <i class="icon ion-social-twitter"></i>
        </a>
      </div>
      <div class="item item-button-right">
        UMass Transit Facebook
        <a class="button button-positive button-contact-page" href="#"
          ng-click="openLink('https://www.facebook.com/UMassTransit')">
                <i class="icon ion-social-facebook"></i>
        </a>
      </div>

      <div class="item item-button-right">
        UMass Transit Twitter
        <a class="button button-positive button-contact-page" href="#"
          ng-click="openLink('https://twitter.com/umasstransit')">
                <i class="icon ion-social-twitter"></i>
        </a>
      </div>
    </div>
    <div class="list card item-text-wrap">
      <div class="item item-divider">
        Paratransit Van Requests
      </div>
      <div class="item item-button-right">
        PVTA Paratransit Van Requests:
        <span class="item-note">413-732-6248, ext. 214</span>
        <a class="button button-positive button-contact-page" href="tel:413-732-6248">
          <i class="icon ion-android-call"></i>
        </a>
      </div>

    </div>
</div>
  </ion-content>
</ion-view>
