<ion-view>
  <ion-nav-title>Route {{route.ShortName}}</ion-nav-title>
  <ion-nav-buttons side="secondary">
    <button id="like"  ng-class="{'button button-icon icon ion-ios-heart': liked, 'button button-icon icon ion-ios-heart-outline': !liked}" ng-click="liked= !liked; toggleHeart(liked)"></button>
  </ion-nav-buttons>
  <ion-content style="margin-bottom: 2%">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>

    <p class="row item" style="text-align: center; font-size: 150%">

      <span class="col col-25 item-text-wrap" style="font-size: 150%; font-weight: bold; color:#{{route.Color}}">
        {{route.ShortName}}

      </span>
      <span class="col col-75 item-text-wrap" style="text-align: center;">{{route.LongName}}</span> 
    </p>
      <div ng-if="vehicles.length === 0" class="bar bar-assertive" style="padding-bottom: 40px">
        <h1 class="title"> There are no buses currently on the {{route.ShortName}}.</h1>
      </div>
      <div >
        <ion-list>
          <ion-item class="card" ng-repeat="vehicle in vehicles | orderBy:'vehicle.VehicleId'">
            <vehicle data="vehicle" route="route"></vehicle>
          </ion-item>
       </ion-list>
     </div>
     <!-- Container div for the alerts -->
     <div class="bar bar-assertive" ng-if="messages.length > 0">
       <h1 class="title">Alerts for the {{route.ShortName}}</h1>
    </div>
    <div ng-if="messages.length > 0" style="padding-top:40px;">
      <ion-list>
        <ion-item class=item ng-repeat="item in messages">
          <div class="row item-text-wrap">
            {{item.Message}}
          </div>
        </ion-item>
      </ion-list>
    </div>

     <div class="list card" style="margin-bottom: 205px;">
      <ion-list>
        <ion-item class="item" ng-click="toggleGroup(stops)" ng-class="{active: isGroupShown(stops)}">
          <div style="text-align:center;">
            <i class="icon" ng-class="isGroupShown(stops) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'" style="margin-right: 10px;"></i>
            <span>Stops on the {{route.ShortName}}</span>
          </div>
        </ion-item>
        <ion-scroll zooming="false" direction="y" style="width:100%; height: 200px;" ng-show="isGroupShown(stops)">
          <ion-item ng-repeat="stop in stops | orderBy: '+Name'" href="#/app/stops/{{stop.StopId}}">
            {{stop.Name}} ({{stop.StopId}})
          </ion-item>
        </ion-scroll>
      </ion-list>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-positive">
    <a class="button icon-center ion-ios-location title" href="#/app/map/route/{{route.RouteId}}">
      Map This Route
    </a>
  </ion-footer-bar>
</ion-view>
