<ion-view>
  <ion-nav-title>{{route ? ('Route ' + route.RouteAbbreviation) : 'Loading...'}} </ion-nav-title>
  <ion-nav-buttons side="secondary">
    <button id="like"  ng-class="{'button button-icon icon ion-ios-heart': liked, 'button button-icon icon ion-ios-heart-outline': !liked}" ng-click="liked= !liked; toggleHeart(liked)"></button>
  </ion-nav-buttons>
  <ion-content style="margin-bottom: 2%">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>

    <div class="row item" style="text-align: center; font-size: 150%">
      <span class="col col-25 item-text-wrap" style="font-size: 150%; font-weight: bold; color:#{{route.Color}}">
        {{route.RouteAbbreviation}}
      </span>
      <span class="col col-75 item-text-wrap center">{{route.LongName}}</span>
    </div>
    <div ng-if="vehicles.length === 0" class="item item-divider item-energized center" style="margin-bottom:1%">
      There are no buses currently on the {{route.RouteAbbreviation}}.
    </div>
    <div ng-if="vehicles.length != 0">
      <ion-list>
        <ion-item class="card" ng-repeat="vehicle in vehicles | orderBy:'Destination'">
          <vehicle data="vehicle" route="route"></vehicle>
        </ion-item>
     </ion-list>
   </div>
     <!-- Container div for the alerts -->
     <div class="item item-divider item-assertive center" ng-if="messages.length > 0">
       Alerts for the {{route.RouteAbbreviation}}
    </div>
    <div ng-if="messages.length > 0">
      <ion-list>
        <ion-item class=item ng-repeat="item in messages">
          <div class="row item-text-wrap">
            {{item.Message}}
          </div>
        </ion-item>
      </ion-list>
    </div>
    <ion-item id="{{dropdownId}}" class="item" ng-click="toggleGroup('stops')" ng-class="{active: isGroupShown('stops')}" ng-if="route">
      <div style="text-align:center;">
        <i class="icon" ng-class="isGroupShown('stops') ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'" style="margin-right: 10px;"></i>
        <span>Stops on the {{route.RouteAbbreviation}}</span>
      </div>
    </ion-item>
    <section id="cd-timeline" class="cd-container" ng-show="isGroupShown('stops')">
      <div ng-repeat="stop in stops | orderBy: '+SortOrder'">
        <div class="cd-timeline-block">
          <div class="cd-timeline-icon positive">
            <i class="ion-ios-timer-outline timelineIcon" ng-if="stop.IsTimePoint==true"></i>
            <i class="ion-location timelineIcon" ng-if="stop.IsTimePoint==false"></i>
          </div>
          <!-- cd-timeline-img -->
          <div class="cd-timeline-content positive">
            <a class="marginTop5 cd-author" style="text-decoration: none;" href="#/app/stops/{{stop.StopId}}">{{stop.Name}} ({{stop.StopId}})</a>
          </div>
        </div>
      </div>
    </section>
  </ion-content>
  <ion-footer-bar class="bar-positive">
    <a class="button icon-center ion-ios-location title" href="#/app/map/route/{{route.RouteId}}" ng-if="route">
      Map This Route
    </a>
  </ion-footer-bar>
</ion-view>
