<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Stops on the {{route.RouteAbbreviation}}</h1>
    <button class="button button-clear button-primary" ng-click="stopModal.remove()">Close</button>
    <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()"></button>
  </ion-header-bar>
  <ion-content class="padding">
    <ion-item ng-repeat="stop in stops | limitTo: 40" class= "item-icon-left item-icon-right" ng-click="redirectToStop(stop.StopId); stopModal.remove()">
      <stop liked="stop.Liked" data="stop" toggle="toggleStopHeart"></stop>
    </ion-item>
  </ion-content>
</ion-modal-view>
