<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title" id="stops-heading" role="heading">Stops on the {{route.RouteAbbreviation}}</h1>
    <button class="button button-clear button-primary" ng-click="stopModal.remove()" aria-label="Close list">Close</button>
    <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()" aria-label="Search list"></button>
  </ion-header-bar>
  <ion-content>
    <div role="list" aria-label="Stops">
      <ion-item class="item-icon-left item-icon-right" ng-repeat="stop in stops | limitTo: 40" data-tap-disabled="true">
        <stop role="link" data="stop" ng-click="redirectToStop(stop.StopId); stopModal.remove()"></stop>
        <button ng-class="stop.Liked ? 'button button-icon icon ion-ios-heart' : 'button button-icon icon ion-ios-heart-outline'" ng-click="stop.Liked = !stop.Liked; toggleStopHeart(stop);" aria-label="{{stop.Liked ? 'Unlike this stop' : 'Like this stop'}}"></button>
      </ion-item>
      <div ng-if="stops && stops.length > 40" class="item item-divider item-positive item-text-wrap">Too many stops to show. Please search above for your stop by name or ID.</div>
    </div>
  </ion-content>
</ion-modal-view>
