<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Schedule</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <div ng-include="'pages/app/no-network.html'"></div> -->
  <div ng-if="noLocation">
    <!-- <ion-item class="item item-assertive" style="text-align:center"> -->
      Unable to retrieve current location.
    <!-- </ion-item> -->
  </div>
  <div class="list" id="input">
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <!-- ng-focus="disableTap()" / -->
        <input id="origin-input" role="combobox" aria-autocomplete="list"
        aria-owns="places" aria-activedescendant="places"
        aria-label="Begin typing an origin and choose a location from the drop-down"
         class="user-input location-typeahead" type="text"
         placeholder="Enter a starting location" [(ngModel)]="request?.origin.name">
      </label>
      <!-- aria-label="{{request?.destinationOnly ? 'Stop using' : 'Use'}} location of device" -->
      <ion-icon
      title="Use location of device"
      [ngClass]="request?.destinationOnly ? 'ion-android-locate positive' : 'ion-android-locate'"
        style="font-size: 120%; margin-left: 1%"
        (click)="request.destinationOnly = !request.destinationOnly; updateOrigin();">
      </ion-icon>
    </div>
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input id="destination-input" class="user-input location-typeahead"
        type="text" placeholder="Enter a destination" [(ngModel)]="request?.destination.name"/>
      </label>
    </div>
    <div class="item item-input item-select">
      <label class="input-label">
        Search for buses:
        <ion-select [(ngModel)]="request?.time.option" [selectOptions]="timeOptions"></ion-select>
      </label>
    </div>
     <!-- [hidden]="request?.time.option.isASAP === true" -->
    <div>
      <!-- <button class="button icon-left ion-android-calendar" (click)="openDatePicker()">{{request?.time.datetime | date: "MMM d"}}</button>
      <button class="button icon-left ion-ios-time-outline" (click)="openTimePicker()">{{request?.time.datetime | date: "h:mm a"}}</button> -->
    </div>
  </div>

  <div class="input-div center-div">
    <button (click)="getRoute()" id="route-button" class="user-input trip-button">Search Schedule</button>
  </div>
  <div id="directions-map" [hidden]="!route" aria-hidden="true"></div>
  <!-- *ngIf="route" -->
  <div id="route" aria-live="assertive">
    <div class = "item item-divider item-energized item-text-wrap">
      <b>PLEASE NOTE: Trip is based on scheduled times. Check your stop's page to confirm bus departure time.</b>
    </div>
    <div style="margin: 30px" *ngIf="route">
      <b>Origin:</b> {{route['start_address']}}
      <br>
      <b>Destination:</b> {{route['end_address']}}
      <br>
      <b>Departure Time: {{route['departure_time']['value'] | date: "h:mm a"}}</b>, {{route['departure_time']['value'] | date: "EEEE dd MMM yyyy"}}
      <br>
      <b>Arrival Time: {{route['arrival_time']['value'] | date: "h:mm a"}}</b>,  {{route['arrival_time']['value'] | date: "EEEE dd MMM yyyy"}}
    </div>
    <section *ngIf="route != undefined" id="cd-timeline" class="cd-container">
      <div *ngFor="let step of route['steps']" >
        <div class="cd-timeline-block">
          <div class="cd-timeline-icon dark">
            <div *ngIf="step['travel_mode'] == 'WALKING'">
              <i class="ion-android-walk"></i>
            </div>
            <div *ngIf="step['travel_mode'] == 'TRANSIT'">
              <i class="ion-android-bus"></i>
            </div>
          </div>
          <div class="cd-timeline-content dark">
            <div *ngIf="step['travel_mode'] == 'TRANSIT'">
              <h1>{{step['transit']['line']['short_name']}}</h1>
              <p class="cd-author">Departs {{step['transit']['departure_time']['text']}}</p>
              <p style="display:inline"><a
                (click)="goToStop(step['transit']['departure_stop']['location'])">
                {{step['transit']['departure_stop']['name']}}</a>
                to
                <a (click)="goToStop(step['transit']['arrival_stop']['location'])">
                  {{step['transit']['arrival_stop']['name']}}</a>
              </p>
            </div>
            <div *ngIf="step['travel_mode'] == 'WALKING'">
              <p *ngIf="!$last">
                <a (click)="goToStop(step['end_location'])">
                  {{step['instructions']}}</a>
              </p>
              <p *ngIf="$last">{{step['instructions']}}</p>
            </div>
            <p style="text-align:right display:inline-block">
              {{step['duration']['text']}}
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime style="color: black" displayFormat="MMM D" pickerFormat="MMM D" [(ngModel)]="request?.time.datetime"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Time</ion-label>
    <ion-datetime displayFormat="h:mm A" pickerFormat="h:mm A" [(ngModel)]="request?.time.datetime"></ion-datetime>
  </ion-item>
</ion-content>
