<ion-view view-title="{{params.name === 'New Trip' ? 'Schedule' : params.name}}">
  <ion-nav-buttons side="secondary">
    <button class="button icon ion-compose" ng-click="newTrip()"></button>
    <button class="button icon ion-ios-heart-outline" ng-click="saveTrip()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div ng-if="noLocation">
      <ion-item class="item item-assertive" style="text-align:center">
        Unable to retrieve current location.
      </ion-item>
    </div>
    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input id="origin-input" class="user-input location-typeahead" type="text" placeholder="Enter a starting location" ng-model="params.origin.name" ng-focus="disableTap()" />
        </label>
        <i ng-class="params.destinationOnly ? 'ion-pinpoint positive' : 'ion-pinpoint'"
          style="font-size: 120%; margin-left: 1%"
          ng-click="params.destinationOnly = !params.destinationOnly; updateOrigin();">
        </i>
      </div>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input id="destination-input" class="user-input location-typeahead" type="text" placeholder="Enter a destination" ng-model="params.destination.name" ng-focus="disableTap()" />
        </label>
      </div>
      <div class="item item-input item-select">
        <div class="input-label">
          Search for buses:
        </div>
        <select ng-model="$parent.selectedTimeOption" ng-change="setTimeOption()" ng-options="option as option.title for option in timeOptions"></select>
      </div>
      <div class="button-bar" ng-show="params.time.asap === false">
        <button class="button icon-left ion-android-calendar" ng-click="openDatePicker()">{{params.time.datetime | date: "MMM d"}}</button>
        <button class="button icon-left ion-ios-time-outline" ng-click="openTimePicker()">{{params.time.datetime | date: "h:mm a"}}</button>
      </div>
    </div>

    <div class="input-div center-div">
      <button ng-click="getRoute()" id="route-button" class="user-input trip-button">Search Schedule</button>
      <button ng-click="saveTrip()" class="user-input trip-button" ng-if="params.destinationOnly">Save Destination</button>
    </div>
  <div id="directions-map" ng-show="leg !== undefined"></div>
  <div class="input-div">
  </div>
  <div id="route" ng-if="leg !== undefined">
    <div style="margin: 30px">
      <b>Origin:</b> {{leg['start_address']}}
      <br>
      <b>Destination:</b> {{leg['end_address']}}
      <br>
      <b>Departure Time:</b> {{leg['departure_time']['text']}}
      <br>
      <b>Arrival Time:</b> {{leg['arrival_time']['text']}}
    </div>
    <section id="cd-timeline" class="cd-container">
    <div ng-repeat="step in leg['steps']" >
      <div class="cd-timeline-block">
        <div class="cd-timeline-icon dark">
          <div ng-if="step['travel_mode'] == 'WALKING'">
            <i class="ion-android-walk"></i>
          </div>
          <div ng-if="step['travel_mode'] == 'TRANSIT'">
            <i class="ion-android-bus"></i>
          </div>
        </div>
        <div class="cd-timeline-content dark">
          <div ng-if="step['travel_mode'] == 'TRANSIT'">
            <h1>{{step['transit']['line']['short_name']}}</h1>
            <p class="cd-author">Departs {{step['transit']['departure_time']['text']}}</p>
            <p style="display:inline"><a ng-click="goToStop(step['transit']['departure_stop']['location'])">{{step['transit']['departure_stop']['name']}}</a> to <a ng-click="goToStop(step['transit']['arrival_stop']['location'])">{{step['transit']['arrival_stop']['name']}}</a></p>
          </div>
          <div ng-if="step['travel_mode'] == 'WALKING'">
            <p><a ng-click="goToStop(step['end_location'])">{{step['instructions']}}</a></p>
          </div>
          <p style="text-align:right display:inline-block">{{step['duration']['text']}}</p>
        </div>
      </div>
    </div>
    </section>
    <div class="item item-divider item-positive">Not the trip you want?
      <button class="button button-outline button-light icon-left" ng-click="openDatePicker(true)">
        <i class="ion-calendar"></i>
        Pick another time.
      </button>
    </div>
  </div>
  </ion-content>
</ion-view>
