<ion-view view-title="{{request.name === 'New Trip' ? 'Schedule' : request.name}}" aria-live="polite">
  <ion-nav-buttons side="secondary">
    <button title="New Trip" data-tap-disabled="true" aria-label="Open new trip" class="button icon ion-compose" ng-click="newTrip()"></button>
    <button title="Save" data-tap-disabled="true" aria-label="Save trip" ng-class="{'button icon ion-ios-heart-outline': !request.saved, 'button icon ion-ios-heart': request.saved}" ng-click="saveTrip()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div ng-if="noLocation">
      <ion-item class="item item-assertive" style="text-align:center">
        Unable to retrieve current location.
      </ion-item>
    </div>
    <div class="list" id="input">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input id="origin-input" role="combobox" aria-autocomplete="list" aria-owns="places" aria-activedescendant="places" aria-label="Begin typing an origin and choose a location from the drop-down" class="user-input location-typeahead" type="text" placeholder="Enter a starting location" ng-model="request.origin.name" ng-focus="disableTap()" />
        </label>
        <i aria-label="{{request.destinationOnly ? 'Stop using' : 'Use'}} location of device" title="Use location of device" ng-class="request.destinationOnly ? 'ion-android-locate positive' : 'ion-android-locate'"
          style="font-size: 120%; margin-left: 1%"
          ng-click="request.destinationOnly = !request.destinationOnly; updateOrigin();">
        </i>
      </div>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input id="destination-input" class="user-input location-typeahead" type="text" placeholder="Enter a destination" ng-model="request.destination.name" ng-focus="disableTap()" />
        </label>
      </div>
      <div class="item item-input item-select">
        <label class="input-label">
          Search for buses:
          <select ng-model="request.time.option" ng-options="option as option.title for option in timeOptions"></select>
        </label>
      </div>
      <div class="button-bar" ng-show="request.time.option.isASAP === false">
        <button class="button icon-left ion-android-calendar" ng-click="openDatePicker()">{{request.time.datetime | date: "MMM d"}}</button>
        <button class="button icon-left ion-ios-time-outline" ng-click="openTimePicker()">{{request.time.datetime | date: "h:mm a"}}</button>
      </div>
    </div>

    <div class="input-div center-div">
      <button ng-click="getRoute()" id="route-button" class="user-input trip-button">Search Schedule</button>
    </div>
    <div id="directions-map" ng-show="route"></div>
    <div id="route" ng-if="route" aria-live="assertive">
      <div class = "item item-divider item-energized item-text-wrap">
        <b>PLEASE NOTE: Trip is based on scheduled times. Check your stop's page to confirm bus departure time.</b>
      </div>
      <div style="margin: 30px">
        <b>Origin:</b> {{route['start_address']}}
        <br>
        <b>Destination:</b> {{route['end_address']}}
        <br>
        <b>Departure Time: {{route['departure_time']['value'] | date: "h:mm a"}}</b>, {{route['departure_time']['value'] | date: "EEEE dd MMM yyyy"}}
        <br>
        <b>Arrival Time: {{route['arrival_time']['value'] | date: "h:mm a"}}</b>,  {{route['arrival_time']['value'] | date: "EEEE dd MMM yyyy"}}
      </div>
      <section id="cd-timeline" class="cd-container">
        <div ng-repeat="step in route['steps']" >
          <div class="cd-timeline-block">
            <div class="cd-timeline-icon dark">
              <div ng-if="step['travel_mode'] == 'WALKING'">
                <i class="ion-android-walk"></i>
              </div>
              <div ng-if="step['travel_mode'] == 'TRANSIT'">
                <i class="ion-android-bus"></i>
              </div>
            </div>
            <div class="cd-timeline-content dark">
              <div ng-if="step['travel_mode'] == 'TRANSIT'">
                <h1>{{step['transit']['line']['short_name']}}</h1>
                <p class="cd-author">Departs {{step['transit']['departure_time']['text']}}</p>
                <p style="display:inline"><a ng-click="goToStop(step['transit']['departure_stop']['location'])">{{step['transit']['departure_stop']['name']}}</a> to <a ng-click="goToStop(step['transit']['arrival_stop']['location'])">{{step['transit']['arrival_stop']['name']}}</a></p>
              </div>
              <div ng-if="step['travel_mode'] == 'WALKING'">
                <p ng-if="!$last"><a ng-click="goToStop(step['end_location'])">{{step['instructions']}}</a></p>
                <p ng-if="$last">{{step['instructions']}}</p>
              </div>
              <p style="text-align:right display:inline-block">{{step['duration']['text']}}</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </ion-content>
</ion-view>
