page-stop {
  .accordion-icon {
    font-size: 2rem
  }
  .forward-icon {
    float: right;
    font-size: 2rem
  }
  .expanded-grid {
    font-size: 90%
  }
  .expanded-row {
    margin-bottom: 0.5rem
  }
  .white {
    color: white
  }
}
