<!-- "Page 2" - aka detail page - template -->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Stop {{stopId}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <p>{{departuresByDirection}}</p>
  <ion-list no-lines>
    <div *ngFor="let direction of departuresByDirectionDummy">
       <div ion-item (click)="toggleRouteDropdown(direction)"
                       [style.background-color]="'#'+routeListDummy[direction.RouteId].Color"
                       [style.color]="'white'">
                       <!-- [ngClass]="{active: isRouteDropdownShown({{direction}})}" -->
         <ion-grid>
           <ion-row>
           <ion-col class="route-shortname">
             {{routeListDummy[direction.RouteId].RouteAbbreviation}}
           </ion-col>
           <ion-col width-50>
             {{direction.Departures[0].Trip.InternetServiceDesc}}
           </ion-col>
           <ion-col width-33 right>
             <span>
               {{direction.Departures[0].Times.eExact}}
             </span>
             <p style="color: white">
               ({{direction.Departures[0].Times.eRelativeNoPrefix}})
             </p>
           </ion-col>
         </ion-row>
         </ion-grid>
       </div>
       <!-- When a route has been expanded, show its departures -->
       <div ion-item *ngFor="let departure of direction.Departures"
                      [hidden]="!isRouteDropdownShown(direction)"
                      (click)="goToRoutePage(direction.RouteId)">
                      <!-- ^^ this was part of that tag >> class="item-accordion" -->
         <div class="item-text-wrap bold center">
           {{departure.Trip.InternetServiceDesc}}
         </div>
           <ion-grid>
             <ion-row>
               <ion-col>
                 <b>Scheduled</b>
               </ion-col>
               <ion-col>
                 <b>Estimated</b>
               </ion-col>
             </ion-row>
             <ion-row class="item-text-wrap">
               <ion-col>
                 <div class="center departure-padding">
                   {{departure.Times.sExact}}
                 </div>
                 <div class="center">
                   ({{departure.Times.sRelative}})
                 </div>
               </ion-col>
               <ion-col>
                 <div class="center departure-padding">
                   {{departure.Times.eExact}}
                 </div>
                 <div class="center">
                   ({{departure.Times.eRelative}})
                 </div>
               </ion-col>
             </ion-row>
           </ion-grid>
       </div>

     </div>
   </ion-list>
</ion-content>
