<div class="item">
  <!-- The first row - destination and status -->
  <div class="row">
    <!-- Destination -->
    <div class="col col-50 item-text-wrap" style="color: #{{apples.Color}}; text-align:left;">
        <i class="icon ion-android-bus" style="font-size: 125%"></i>
        <b>To {{vehicle.Destination ? vehicle.Destination : "an unreported destination"}}</b>
    </div>
    <!-- Vehicle Status -->
    <div class="col padding-top-10 center">
      <span class="icon-left green"  ng-if="vehicle.DisplayStatus==='On Time'">
        <i class="icon ion-ios-time-outline"></i>
        {{vehicle.DisplayStatus}}
      </span>
      <span class="icon-left assertive" ng-if="vehicle.DisplayStatus === 'Late'">
        <i class="icon ion-ios-time-outline"></i>
        {{vehicle.Deviation}} minutes late
      </span>
    </div>
  </div>
  <!-- The second row - Last stop and pax -->
  <div class="row item-text-wrap text-left" style="padding-top: 10px">
    <!-- Last stop -->
    <div class="col col-50 item-text-wrap" style="text-align: left;">
      <i class="icon ion-ios-location"></i>
       {{vehicle.LastStop? vehicle.LastStop : "none specified"}}
    </div>
    <!-- Number of riders -->
    <div class="col icon-left positive center padding-top-10">
     <i class="icon ion-android-people"></i>
     {{vehicle.OnBoard}} {{vehicle.OnBoard === 1 ? 'rider' : 'riders'}}
   </div>

  </div>
</div>
