<div class="row">
  <!-- <div class="col col-20"> To:</div> -->
  <div class="col col-50 item-text-wrap" style="color: #{{route.Color}}; text-align:left">
      <b>To {{vehicle.Destination ? vehicle.Destination : "an unreported destination"}}</b>
  </div>
<!-- </div> -->
<!-- <div class="row item"> -->
  <!-- <div class="col col-20">Last stop: </div> -->
  <div class="col col-50 item-text-wrap" style="text-align: right;">
    <i class="icon ion-ios-location"></i>

     {{vehicle.LastStop? vehicle.LastStop : "none specified"}}

  </div>
</div>

<div class="row item-text-wrap" style="text-align:left;">

  <div class="col">
    <span class="icon-left energized" ng-if="vehicle.DisplayStatus==='On Time'" style="color: green;">
      <i class="icon ion-ios-time-outline"></i>
      {{vehicle.DisplayStatus}}
    </span>
    <span class="icon-left assertive" ng-if="vehicle.DisplayStatus === 'Late'" style="color: red">
      <i class="icon ion-ios-time-outline"></i>
      {{vehicle.Deviation}} minutes late
    </span>
  </div>

  <span class="col icon-left positive" style="text-align:center;">
   <i class="icon ion-android-people"></i>
   {{vehicle.OnBoard}} {{vehicle.OnBoard === 1 ? 'rider' : 'riders'}}
 </span>
 <div class="col item-text-wrap" style="text-align:right;">
   <div class="icon-left positive" ui-sref="app.vehicle-map({routeTraceFilename: route.RouteTraceFilename, vehicleId: vehicle.VehicleId})">
     <i class="ion-navigate"></i>
     Map
   </div>
 </div>
</div>
