<!-- "Page 2" - aka detail page - template -->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Route {{route ? route.RouteAbbreviation : ''}} </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <!-- <ion-item-divider *ngIf="alerts.length > 0" color="danger">Alerts</ion-item-divider> -->
    <ion-item class=item *ngFor="let alert of alerts">
      {{alert.Message}}
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <!-- <ion-item-divider *ngIf="alerts.length > 0" color="primary">Buses</ion-item-divider> -->
    <ion-item class=item *ngFor="let alert of alerts">
      {{alert.Message}}
    </ion-item>
  </ion-item-group>
  <ion-item class="item"  ng-if="route && stops" (click)="showStopModal()">
      <span>Tap to view stops on the...</span>
  </ion-item>
</ion-content>
