<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle tabindex=1>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title role="heading">Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-wrap>
  <ion-list>
    <button ion-item (click)="goToAboutPage()">
      About
    </button>
    <button ion-item (click)="goToContactPage()">
      Contact PVTA
    </button>
    <button ion-item (click)="goToStorageSettingsPage()">
      Storage
    </button>
    <ion-item *ngIf="isInternetExplorer">
      <p style="font-style: italic;">Autorefresh timing customization is not supported in Internet Explorer.</p>
    </ion-item>
    <ion-item *ngIf="!isInternetExplorer">
      <ion-label>Autorefresh Timing</ion-label>
      <ion-select [(ngModel)]="autoRefresh">
        <ion-option value="-1">Autorefresh Off</ion-option>
        <ion-option value="15000">15 Seconds</ion-option>
        <ion-option value="30000">30 Seconds</ion-option>
        <ion-option value="45000">45 Seconds</ion-option>
        <ion-option value="60000">60 Seconds</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
