stop-departures {
  .accordion-icon {
    font-size: 2rem
  }
  .forward-icon {
    float: right;
    font-size: 2rem
  }
  .expanded-grid {
    font-size: 90%
  }
  .expanded-row {
    margin-bottom: 0.5rem
  }
  .white {
    color: white
  }
  $grid-breakpoints: ( xxs: 0, xs: 200, sm: 576px, md: 768px, lg: 992px, xl: 1200px );
  $grid-max-widths: ( xxs: 150, sm: 540px, md: 720px, lg: 960px, xl: 1140px );
}
