<!-- Generated template for the StopDeparturesComponent component -->
<ion-list>
  <div *ngIf="sortBy === 'routes'">
    <div *ngFor="let direction of departuresByDirection">
      <div ion-item (click)="toggleRouteDropdown(direction)" [style.background-color]="'#'+routeList[direction.RouteId]?.Color" [style.color]="'white'">
        <ion-grid no-padding>
          <ion-row align-items-center>
            <ion-col col-3 class="route-shortname">
              {{routeList[direction.RouteId]?.RouteAbbreviation}}
            </ion-col>
            <ion-col col-4 style="text-align: left;">
              {{direction.Departures[0].Trip.InternetServiceDesc}}
            </ion-col>
            <ion-col col-4 style="text-align: center;">
              <p class="white">
                {{direction.Departures[0].Times.eExact}}
              </p>
              <p class="white">
                ({{direction.Departures[0].Times.eRelativeNoPrefix}})
              </p>
            </ion-col>
            <ion-col >
              <ion-icon class="accordion-icon" [name]="isRouteDropdownShown(direction) ? 'ios-arrow-up' : 'ios-arrow-down'"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <!-- When a route has been expanded, show its departures -->
      <div ion-item [hidden]="!isRouteDropdownShown(direction)" (click)="goToRoutePage(direction.RouteId)">
        <ion-grid class="expanded-grid">
          <ion-row align-items-center>
            <ion-col class="bold">
              Destination
            </ion-col>
            <ion-col>
              <div class="center">
                <b>Scheduled</b>
              </div>
            </ion-col>
            <ion-col>
              <div class="center">
                <b>Estimated</b>
              </div>
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let departure of direction.Departures" class="expanded-row">
            <ion-col>
              {{departure.Trip.InternetServiceDesc}}
            </ion-col>
            <ion-col>
              <div class="center departure-padding">
                {{departure.Times.sExact}}<br>
                ({{departure.Times.sRelativeNoPrefix}})
              </div>
            </ion-col>
            <ion-col class="center departure-padding">
              <div>
                {{departure.Times.eExact}}<br>
                ({{departure.Times.eRelativeNoPrefix}})
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
  <div *ngIf="sortBy == 'time'">
    <div ion-item *ngFor="let direction of departuresByTime | slice:0:limit"
    (click)="goToRoutePage(direction.RouteId)"
    [style.background-color]="'#'+routeList[direction.RouteId]?.Color"
    class="white"
    >
      <ion-grid>
        <ion-row align-items-center text-wrap>

          <ion-col col-3 col-xs-3  class="route-shortname">
            {{routeList[direction.RouteId]?.RouteAbbreviation}}
          </ion-col>

          <ion-col col-9 col-xs-4  style="text-align: left;">
            {{direction.Departures?.Trip.InternetServiceDesc}}
          </ion-col>
          <ion-col col-10 col-xs-4 style="text-align: center;">
            <p style="color: white;">
              {{direction.Departures?.Times.eExact}}
            </p>
            <p style="color: white">
              ({{direction.Departures?.Times.eRelativeNoPrefix}})
            </p>
          </ion-col>
          <ion-col col-2 col-xs>
            <ion-icon class="forward-icon" [name]="'ios-arrow-forward'"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-list>
<ion-toolbar *ngIf="(!departuresByDirection.length && !departuresByTime.length )&& stopName">
  {{stopName}} has no departures for at least the next 3 hours.
</ion-toolbar>
