<ion-split-pane>
  <ion-menu [content]="content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title aria-label="Peeveetrack">PVTrAck</ion-title>
        <ion-buttons end>
        <button ion-button menuClose aria-label="Close the menu" tabindex=2 *ngIf="notOnDesktop">
          <ion-icon name="close"></ion-icon>
        </button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list role="navigation" id="navigation-menu">
        <button role="menuitem" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon name={{p.icon}} aria-hidden="true"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>
      <div style="position: absolute; bottom: 1%; margin-left: 5%;" *ngIf="runningInBrowser">
        <div onclick="window.open('https://play.google.com/store/apps/details?id=com.umts.pvtamultiplaform', '_blank');">
          <ion-icon color="dark-green" name="md-appstore" aria-label="Play Store Link"></ion-icon>
          <a>Get PVTrAck on Android!</a>
        </div>
        <div onclick="window.open('https://itunes.apple.com/us/app/pvtrack/id1234619753', '_blank');">
          <ion-icon name="ios-appstore-outline" aria-label="App Store Link"></ion-icon>
          <a>Get PVTrAck on iOS!</a>
        </div>
      </div>
    </ion-content>
  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" main #content swipeBackEnabled="false"></ion-nav>
</ion-split-pane>
