<ion-header>
  <ion-toolbar color="primary">
    <ion-title aria-label="Edit favorite routes popup. Check the routes you want to favorite, and click done.">
      <span role="heading">{{title}}</span>
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        Done
      </button>
   </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list role="list" aria-label="routes" *ngIf="requester === 0" text-wrap>
    <ion-item role="heading" *ngFor="let route of routes">
      <ion-checkbox color="primary" checked="{{route.Liked}}"
        (click)="route.Liked = !route.Liked; toggleRouteHeart(route);">
      </ion-checkbox>
        <ion-label (click)="route.Liked = !route.Liked; toggleRouteHeart(route);">
          <ion-row wrap attr.aria-label="Route {{route.RouteAbbreviation}} {{route.GoogleDescription}}">
            <ion-col col-2 aria-hidden="true" width-25 [style.color]="'#' + route.Color" style="font-size: 125%; font-weight: bold; margin-left: 5%">
              {{route.RouteAbbreviation}}
            </ion-col>
            <ion-col aria-hidden="true" padding-left>
              {{route.GoogleDescription}}
            </ion-col>
          </ion-row>
        </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
