<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{title}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        Done
      </button>
   </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar
    [(ngModel)]="searchQuery"
    showCancelButton
    (ionInput)="onSearchQueryChanged($event)">
    <!-- (ionCancel)="onCancel($event)"> -->
  </ion-searchbar>
  <ion-item *ngIf="stopsDisp.length === 0">
    Search above to see stops.
  </ion-item>
  <ion-list *ngIf="requester === 1" text-wrap>
    <button ion-item *ngFor="let stop of stopsDisp | slice:0:40"
      (click)="goToStopPage(stop.StopId)">
      <ion-icon name="pin" style="margin-right: 10px"></ion-icon>
      <span>{{stop.Description}} ({{stop.StopId}})</span>
    </button>
  </ion-list>
  <ion-list *ngIf="requester === 0" text-wrap>
    <ion-item *ngFor="let stop of stopsDisp | slice:0:40">
      <ion-label>{{stop.Description}} ({{stop.StopId}})
      </ion-label>
      <ion-checkbox color="primary" checked="{{stop.Liked}}"
        (click)="stop.Liked = !stop.Liked; toggleStopHeart(stop);">
      </ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
