<ion-view view-title="Routes and Stops">
  <ion-nav-buttons side="secondary">
    <button aria-label="Search" class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()"></button>
  </ion-nav-buttons>
  <div class="bar bar-subheader">
    <div class="button-bar">
      <button aria-label="Show Routes" ng-class="currentDisplay === 0 ? 'button button-positive' : 'button  button-outline button-positive'" ng-click="display(0)">Routes</button>
      <button aria-label="Show Stops" ng-class="currentDisplay === 1 ? 'button button-positive' : 'button  button-outline button-positive'" ng-click="display(1)">Stops</button>
    </div>
  </div>
  <ion-content class="has-subheader" direction="y" scrollbar-y="false" aria-live="polite">
    <div ng-if="noLocation && currentDisplay === 1 && order === 'distance'">
      <ion-item class="item item-assertive item-text-wrap">
        Unable to retrieve current location.  Ensure location is enabled or search above for your stop.
      </ion-item>
    </div>
    <label aria-label="Order by" class="item item-input item-select">
      <div class="input-label" aria-hidden="true">
        Order {{currentDisplay === 0 ? 'Routes' : 'Stops'}} By:
      </div>
      <select ng-model="$parent.order" ng-change="toggleOrdering()">
        <option value="favorites" aria-label="Favorites">Favorites</option>
        <option ng-if="currentDisplay === 1" value="distance" aria-label="Nearby">Nearby</option>
        <option ng-if="currentDisplay === 0" value="name" aria-label="Name">Name</option>
        </select>
      </label>
    <div aria-live="polite">
      <ion-list>
        <ion-item ng-show="currentDisplay === 0" ng-repeat="route in routesDisp | orderBy:propertyName" ng-click="redirectRoute(route.RouteId)" class= "item item-icon-left item-icon-right">
          <route liked="route.Liked" data="route" toggle="toggleRouteHeart" data-tap-disabled="true"></route>
        </ion-item>
        <ion-item ng-show="currentDisplay === 1" class="item item-icon-left item-icon-right" ng-repeat="stop in stopsDisp | orderBy:propertyName | limitTo: 40" ng-click="redirectStop(stop.StopId)">
          <stop liked="stop.Liked" data="stop" toggle="toggleStopHeart" data-tap-disabled="true"></stop>
        </ion-item>
        <div ng-if="stops && currentDisplay === 1 && stopsDisp.length > 30" class="item item-divider item-positive item-text-wrap">Too many stops to show. Please search above for your stop by name or ID.</div>
      </ion-list>
      <div ng-if="routes && stops && !routesDisp.length && !stopsDisp.length" class="bar bar-assertive title">
        <h1 class="title">No results found.</h1>
      </div>
    </div>
  </ion-content>
</ion-view>
