<ion-view view-title="About">
  <ion-content>
    <div class="list card item-text-wrap">
      <div class="item item-icon-center">
        Version: {{vNum}}, {{vName}}
      </div>
      <div class="item">
        Made with
        <a class="icon ion-ionic" href="#"
        ng-click="openLink('https://ionicframework.com')" aria-label="ionic"></a>,
        <a class="ion-social-angular" href="#"
        ng-click="openLink('https://angular.io')" aria-label="angular"></a>,
        and
        <a class="ion-ios-heart" href="#"
        ng-click="openLink('https://en.wikipedia.org/wiki/Compassion')" aria-label="love"></a>
        by UMass Transit's student developers in Amherst, MA
      </div>
      <a class="item item-icon-left" href="#"
        ng-click="openLink('https://github.com/umts/pvta-multiplatform')">
                Contribute to pvta-multiplatform
                <i class="icon ion-social-github"></i>
      </a>
      <a class="item item-icon-left" href="mailto:programmers@admin.umass.edu" target="_blank">
        <i class="icon ion-bug"></i>
        Find a bug?  Let us know!
      </a>
      <a class="item item-icon-left" href="#/app/about/privacy-policy">
        <i class="icon ion-lock-combination"></i>
        View our Privacy Policy
      </a>
      <a class="item item-icon-left" href="#/app/about/contact">
        <i class="icon ion-android-call"></i>
        Contact PVTA
      </a>
    </div>
  </ion-content>
</ion-view>
