<ion-item-group *ngIf="stops" text-wrap>
    <ion-toolbar
            color="secondary"
            (click)="togglePanel()"
    >
        <ion-title>Nearest Stops</ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="light">
                <ion-icon [name]="showPanel ? 'ios-arrow-down' : 'ios-arrow-up'"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
  <ion-scroll scrollY style="height:300px;" *ngIf="showPanel">
    <ion-item color="grey">
      <p>Tap a stop to see upcoming departures</p>
    </ion-item>
    <button ion-item
            *ngFor="let stop of stops | slice:0:numberOfStopsToShow"
            (click)="onRowClick(stop)"
            [class.selected]="selectedStop === stop"
    >
      {{stop.Description}}
      <ion-icon class="icon-f" [name]="'ios-arrow-forward'"></ion-icon>
      <p *ngIf="stop.Distance">{{stop.Distance.toFixed(2)}} miles away</p>
    </button>
    <ion-item>
      <p>
        <span class="nearby-list-less" *ngIf="numberOfStopsToShow >= 10" (click)="seeFewerStops()">
          See less...
        </span>
        <span class="nearby-list-more" *ngIf="numberOfStopsToShow < 500"  (click)="seeMoreStops()">
          See more...
        </span>
      </p>
    </ion-item>
  </ion-scroll>
</ion-item-group>
