<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle aria-label="Open the menu" tabindex=1>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title role="heading">Nearby</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <button ion-item (click)="pickRoutesToMap()" [ngClass]="{active: isRouteListExpanded}">
    Routes
    <p>{{getRoutesOnMap()}}</p>
    <ion-icon item-right [name]="isRouteListExpanded ? 'md-arrow-dropup' : 'md-arrow-dropdown'"></ion-icon>
  </button>

  <ion-list *ngIf="isRouteListExpanded">
    <ion-item *ngFor="let route of routes" text-wrap (click)="1">
      {{route.RouteAbbreviation}}
    </ion-item>
  </ion-list>


  <div #map id="map" [style.height]="showBottomPanel ? '50%' : '100%'" class="map-panel">
    There's a map here
  </div>
  <button ion-button icon-only color="dark" style="float:right; z-index: 1; margin-top: -2.5rem"
  (click)="onCollapseToggleClicked()" class="arrow-down">
    <ion-icon [name]="showBottomPanel ? 'arrow-dropdown' : 'arrow-dropup'"></ion-icon>
  </button>
  <div class="bottom-panel" [style.opacity]="showBottomPanel ? '1' : '0'">
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm>
          <nearest-stops
                  [stops]="nearestStops | json"
                  [position]="position"
                  (handleStopClick)="handleNearbyStopClick($event)"
          >
          </nearest-stops>
        </ion-col>
          <ion-col col-12 col-sm *ngIf="currentHighlightedStop">
              <ion-item-group text-wrap>
                  <ion-toolbar
                          color="secondary"
                          (click)="toggleStopDeparturesPanel()"

                  >
                      <ion-title>{{currentHighlightedStop?.Description}}</ion-title>
                      <ion-buttons end>
                          <button ion-button icon-only
                                  color="light"
                          >
                              <ion-icon [name]="showStopDeparturesPanel ? 'ios-arrow-down' : 'ios-arrow-up'"></ion-icon>
                          </button>
                      </ion-buttons>
                  </ion-toolbar>
                  <ion-scroll scrollY style="height:300px;" *ngIf="showStopDeparturesPanel">
                      <ion-item color="grey">
                          <p>Showing soonest departures</p>
                          <button ion-button item-end outline color="light" icon-right
                                  (click)="goToStopPage(currentHighlightedStop.StopId)">
                              See All
                              <ion-icon name="ios-arrow-forward"></ion-icon>
                          </button>
                      </ion-item>
                      <stop-departures
                              stopId="{{currentHighlightedStop.StopId}}"
                              stopName="{{currentHighlightedStop.Description}}"
                              sortBy="time"
                              limit="6"
                              aria-label="Next 6 departures at this stop"
                              role="list">
                      </stop-departures>
                  </ion-scroll>


              </ion-item-group>
          </ion-col>
        <ion-col col-12 col-sm>
          <ion-item-group>
              <ion-toolbar
                      color="secondary"
                      (click)="toggleNearestBusesPanel()"
              >
                  <ion-title>Nearest Buses</ion-title>
                  <ion-buttons end>
                      <button ion-button icon-only
                              color="light"
                      >
                          <ion-icon [name]="showNearestBusesPanel? 'ios-arrow-down' : 'ios-arrow-up'"></ion-icon>
                      </button>
                  </ion-buttons>
              </ion-toolbar>
              <div *ngIf="showNearestBusesPanel">
                  <p *ngIf="vehiclesOnMap.length === 0">
                      No nearby buses - try zooming out on the map!
                  </p>
                  <ion-item *ngFor="let p of vehiclesOnMap">
                      <a style="cursor: pointer">{{p?.route?.RouteAbbreviation}}:</a>
                      headed {{p?.vehicle?.DirectionLong.toLowerCase()}} toward
                      <a style="cursor: pointer">{{p?.vehicle?.Destination}}</a>
                  </ion-item>
              </div>
            </ion-item-group>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
