page-nearby {
  .map-panel {
    // border-style: solid;
    // border-color: blue;
    transition: all 2s ease-in-out;
  }
  .pointer {
    cursor: pointer;
  }
  .nearby-list-less {
    @extend .pointer;
    float:left;
  }
  .nearby-list-more {
    @extend .pointer;
    float: right;
  }
  .bottom-panel {
    // border-style: solid;
    // border-color: red;
    margin-top: 0.5rem;
    height: 50%;
    transition: all 2s ease-in-out;
  }
  .arrow-down {
    transform: rotate(0deg) all .5s ease-out;
  }
  .nearest-stops {
    transition: all 2s ease-in-out;
  }
  .loading-stops {
    transition: all 2s ease-in-out;
  }
  .vertical-line {
    border-left: thick solid black;
  }
  // Necessary for it to scroll vertically (per docs)
  ion-scroll[scrollX] {
    white-space: nowrap;
  }
}
