<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle aria-label="Open the menu" tabindex=1>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title role="heading">Nearby</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button ion-item (click)="showCheckbox()" [ngClass]="{active: isRouteListExpanded}">
    Routes
    <p>{{getRoutesOnMap()}}</p>
    <ion-icon item-right [name]="isRouteListExpanded ? 'md-arrow-dropup' : 'md-arrow-dropdown'"></ion-icon>
  </button>

  <ion-list *ngIf="isRouteListExpanded">
    <ion-item *ngFor="let route of routes" text-wrap (click)="1">
      {{route.RouteAbbreviation}}
    </ion-item>
  </ion-list>


  <div #map id="map" [style.height]="showBottomPanel ? '50%' : '100%'" class="map-panel">
    There's a map here
  </div>
  <button ion-button icon-only color="dark" style="float:right; z-index: 1; margin-top: -2.5rem"
  (click)="onCollapseToggleClicked()" class="arrow-down">
    <ion-icon [name]="showBottomPanel ? 'arrow-dropdown' : 'arrow-dropup'"></ion-icon>
  </button>
  <div class="bottom-panel" [style.opacity]="showBottomPanel ? '1' : '0'">
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm>
          {{!nearestStops ? loadingStopsStatus : 'The nearest stops to you are'}}
          <ol>
            <li *ngFor="let stop of nearestStops | slice:0:5" (click)="onShowRightPanelClick(stop)">
              <a style="cursor: pointer">{{stop.Description}}</a>
            </li>
          </ol>
        </ion-col>
        <div class="vertical-line">
        </div>
        <ion-col col-12 col-sm>
          {{currentHighlightedStop?.Description}}
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- <div [hidden]="nearestStops" class="loading-stops">

    </div>
    <div [hidden]="!nearestStops" [style.float]="left" [style.width]="showBottomRightPanel ? '50' : '100'"class="nearest-stops">

    </div>
    <div [style.width]="showBottomRightPanel ? '50' : '0'" [style.float]="right">

    </div> -->
  </div>
</ion-content>
