/* Empty. Add your own CSS if you like */
#stop-map {
  height: 100%;
  margin-right: 400px;
}

#directions {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
  height: 100%;
  float: right;
  width: 390px;
  overflow: auto;
}
